body {
    background-color: #cf82bc;
    text-align: center;
}

button {
    background-color: rgba(92, 44, 92, 0);
    outline: none;
}

h2 {
    margin-bottom: 10px;
}

.btn {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

input {
    width: 100%;
    border: 2px solid #201f1d;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.4);
    outline: none;
    color: #e0dfdf;
    font-size: 14px;
}

input:focus {
    border: 2px solid rgba(0,0,0,.4);
    background-color: rgb(60,60,60);
}

form {
    background-color: #8f5c94;
    padding: 20px;
    color: #544055;
    box-shadow: 0 2px 4px 0 rgba(184, 120, 180, 0.4);
}

form p {
    margin-bottom: 5px;
}

form p:nth-child(1){
    margin-top: 0;
}

.panel {
    margin-top: 20px;
    float: none;
}

@media (min-width: 768px) {
    .panel {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .panel {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }
}
#outer{
    width:90%;
    max-width:600px;
    background:#79747a;
    margin:0 auto}
#cover{
    border:2px solid #111;
    padding:15px 0}
.main{
    table-layout:fixed;
    width:94%;border:0;
    text-align:left;
    border-collapse:collapse;
    margin:0 auto}
.main td{
    padding:0 8px;
    vertical-align:middle;
    border:0}
.main input{
    width:100%;
    border:1px solid #ccc;
    margin:2px 0;
    padding:0 2%;
    height:22px;
    text-align:right}.ac{text-align:center}.b{font-weight:bold}
.main select{
    width:100%;
    border:1px solid #ccc;
    margin:2px 0;
    background:#fff;
    height:22px
}.w50{width:100%}.main button{width:100%;
        font-weight:bold;
        margin:3px 0}.w60{width:60%}.w40{width:40%}